body {
	padding-top: 50px;
}
.starter-template {
	padding: 0 15px 40px 15px;
	text-align: center;
}



/*
	Alert
*/
.alert-sticky {
	position: fixed;
	z-index: 1;
	width: 95%;
	left: 2.5%;
	/* right: 0; */
	top: 64px;
}
/*
	Alert
*/



/*
	Config
*/
.col-module-config {
	float:left;
	margin-bottom:20px;
	min-height:130px;
}

.col-module-config .panel {
	min-height:130px;
}

.col-module-config .panel-heading {
	cursor: all-scroll;
}

.col-module-config .form-group {
	margin-bottom: 5px;
}

.col-module-config .form-group .col-sm-4 {
	padding-left: 0;
	padding-right: 0;
}

.col-module-config .form-group .col-sm-8 {
	padding-right: 0;
}

.ui-sortable-handle {
	min-height: 130px;
	position: relative;
}

.ui-sortable-placeholder {
	visibility: visible !important;
}

.ui-sortable-placeholder:after {
	content:' ';
	width: 100%;
	min-height: 130px;
	margin-bottom:  20px;
	left:0;
	top:0;
	display: block;
	border-color: #66AFE9;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	visibility: visible !important;
}

.tooltip-inner {
    max-width: 350px;
}
/*
	Config
*/



/*
Systeminfo
*/
.systemInfo .col-md-4 {
	font-weight: bold;
	text-align: right;
}

.systemInfo .col-md-8 {
	text-align: left;
}

.systemInfo .col-md-4,
.systemInfo .col-md-8{
	margin-bottom: 5px;
}

.systemInfo .progress {
	margin-bottom: 0;
}

/*
Systeminfo
*/


/*
Loading Indicator
*/
.loadingoverlay {
	position: fixed;
	z-index: 9999;
	background-color: rgba(255, 255, 255, 0.8);
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
}

.spinner {
	position: absolute;
	width: 80px;
	height: 80px;
	background-color: #428BCA;

	top:50%;
	left: 50%;

	margin: -40px 0 0 -40px;
	-webkit-animation: rotateplane 1.2s infinite ease-in-out;
	animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
	0% { -webkit-transform: perspective(120px) }
	50% { -webkit-transform: perspective(120px) rotateY(180deg) }
	100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
	0% { 
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
	} 50% { 
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
	} 100% { 
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}
}
/*
	Loading Indicator
*/